/* Coolors Exported Palette - https://coolors.co/038afa-033b7d-1c1c1c-fce53d-6d6e71-939598-d1d3d4-02bdff-0559b5-ed2124 */

/* CSS HEX */
--bleu-de-france: #038afaff;
--yale-blue: #033b7dff;
--eerie-black: #1c1c1cff;
--maize: #fce53dff;
--dim-gray: #6d6e71ff;
--battleship-gray: #939598ff;
--timberwolf: #d1d3d4ff;
--deep-sky-blue: #02bdffff;
--denim: #0559b5ff;
--red-cmyk: #ed2124ff;

/* CSS HSL */
--bleu-de-france: hsla(207, 98%, 50%, 1);
--yale-blue: hsla(212, 95%, 25%, 1);
--eerie-black: hsla(0, 0%, 11%, 1);
--maize: hsla(53, 97%, 61%, 1);
--dim-gray: hsla(225, 2%, 44%, 1);
--battleship-gray: hsla(216, 2%, 59%, 1);
--timberwolf: hsla(200, 3%, 83%, 1);
--deep-sky-blue: hsla(196, 100%, 50%, 1);
--denim: hsla(211, 95%, 36%, 1);
--red-cmyk: hsla(359, 85%, 53%, 1);

/* SCSS HEX */
$bleu-de-france: #038afaff;
$yale-blue: #033b7dff;
$eerie-black: #1c1c1cff;
$maize: #fce53dff;
$dim-gray: #6d6e71ff;
$battleship-gray: #939598ff;
$timberwolf: #d1d3d4ff;
$deep-sky-blue: #02bdffff;
$denim: #0559b5ff;
$red-cmyk: #ed2124ff;

/* SCSS HSL */
$bleu-de-france: hsla(207, 98%, 50%, 1);
$yale-blue: hsla(212, 95%, 25%, 1);
$eerie-black: hsla(0, 0%, 11%, 1);
$maize: hsla(53, 97%, 61%, 1);
$dim-gray: hsla(225, 2%, 44%, 1);
$battleship-gray: hsla(216, 2%, 59%, 1);
$timberwolf: hsla(200, 3%, 83%, 1);
$deep-sky-blue: hsla(196, 100%, 50%, 1);
$denim: hsla(211, 95%, 36%, 1);
$red-cmyk: hsla(359, 85%, 53%, 1);

/* SCSS RGB */
$bleu-de-france: rgba(3, 138, 250, 1);
$yale-blue: rgba(3, 59, 125, 1);
$eerie-black: rgba(28, 28, 28, 1);
$maize: rgba(252, 229, 61, 1);
$dim-gray: rgba(109, 110, 113, 1);
$battleship-gray: rgba(147, 149, 152, 1);
$timberwolf: rgba(209, 211, 212, 1);
$deep-sky-blue: rgba(2, 189, 255, 1);
$denim: rgba(5, 89, 181, 1);
$red-cmyk: rgba(237, 33, 36, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #038afaff, #033b7dff, #1c1c1cff, #fce53dff, #6d6e71ff, #939598ff, #d1d3d4ff, #02bdffff, #0559b5ff, #ed2124ff);
$gradient-right: linear-gradient(90deg, #038afaff, #033b7dff, #1c1c1cff, #fce53dff, #6d6e71ff, #939598ff, #d1d3d4ff, #02bdffff, #0559b5ff, #ed2124ff);
$gradient-bottom: linear-gradient(180deg, #038afaff, #033b7dff, #1c1c1cff, #fce53dff, #6d6e71ff, #939598ff, #d1d3d4ff, #02bdffff, #0559b5ff, #ed2124ff);
$gradient-left: linear-gradient(270deg, #038afaff, #033b7dff, #1c1c1cff, #fce53dff, #6d6e71ff, #939598ff, #d1d3d4ff, #02bdffff, #0559b5ff, #ed2124ff);
$gradient-top-right: linear-gradient(45deg, #038afaff, #033b7dff, #1c1c1cff, #fce53dff, #6d6e71ff, #939598ff, #d1d3d4ff, #02bdffff, #0559b5ff, #ed2124ff);
$gradient-bottom-right: linear-gradient(135deg, #038afaff, #033b7dff, #1c1c1cff, #fce53dff, #6d6e71ff, #939598ff, #d1d3d4ff, #02bdffff, #0559b5ff, #ed2124ff);
$gradient-top-left: linear-gradient(225deg, #038afaff, #033b7dff, #1c1c1cff, #fce53dff, #6d6e71ff, #939598ff, #d1d3d4ff, #02bdffff, #0559b5ff, #ed2124ff);
$gradient-bottom-left: linear-gradient(315deg, #038afaff, #033b7dff, #1c1c1cff, #fce53dff, #6d6e71ff, #939598ff, #d1d3d4ff, #02bdffff, #0559b5ff, #ed2124ff);
$gradient-radial: radial-gradient(#038afaff, #033b7dff, #1c1c1cff, #fce53dff, #6d6e71ff, #939598ff, #d1d3d4ff, #02bdffff, #0559b5ff, #ed2124ff);